:root{
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(200, 149, 55);
}

/* Navbar start*/
ul{
    background-color: rgb(150, 30, 32);
    overflow: hidden;
    list-style: none;
}
nav ul li{
    float: left;
}

nav ul li:last-child{
    float: right;
}

nav ul li a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    background-color: orange;
    color: black;
}
/* Navbar end  */

/* section start */
div{
    border: 2px solid black;
    display: inline-block;
    width: 20%;
    /* height: 20%; */
}
.card1{
    margin-left: 10%;
}
.card2{
    margin-left: 5%;
    margin-right: 5%;
}
.card3{
    margin-right: 10%;
}
/* section end */